{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="shortcut icon" type="png' %}" href="static {% static 'images/icon/favicon.png' %}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">
	<title>Learn Gita</title>
	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script type="text/javascript" src="{%static 'script.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script>
		$(window).on('scroll', function(){
  			if($(window).scrollTop()){
  			  $('nav').addClass('black');
 			 }else {
 		   $('nav').removeClass('black');
 		 }
		})
	</script>
</head>
<body>
<!-- Navigation Bar -->
	<header id="header">
		<nav>
			<div class="logo"><img src="{% static 'images/icon/logo.png' %}" alt="logo"></div>
			<ul>
				<li><a class="active" href="">Home</a></li>
				<li><a href="#review_section">Lecturars</a></li>
				<li><a href="#team_section">Initiator</a></li>
				<li><a href="#services_section">Details</a></li>
				<li><a href="#contactus_section">Contact</a></li>
			</ul>
			<div class="srch"><input type="text" class="search" placeholder="Search here..."><onclick=slide()></div>
			<a class="get-started" href="course">Get Started</a>
			<img src="{% static 'images/icon/menu.png' %}" class="menu" onclick="sideMenu(0)" alt="menu">
		</nav>

		<div class="head-container">
			<div class="quote">
				<p>LEARN GITA LIVE GITA for Success and Happiness in Life</p>
				<br> <br>
				<h2>LEARN GITA LIVE GITA is an initiative to bring about success and happiness to every student of Graphic Era University </h2>
				<br><br>
				<div class="play">
					<img src="{% static 'images/icon/register.png' %}" alt="play"><span><a href="https://docs.google.com/forms/d/e/1FAIpQLScmpCTj0JAhk7u_0Y6EX3PQU7DVIMMnxqO7PgPlEyMrOU8PFg/viewform" target="_blank">Enroll Now</a></span>
				</div>
			</div>
			<div class="svg-image">
				<img src="{% static 'images/extra/svg1.jpg' %}" alt="svg">
			</div>
		</div>
		<div class="side-menu" id="side-menu">
			<div class="close" onclick="sideMenu(1)"><img src="{% static 'images/icon/close.png' %}" alt=""></div>
			<ul>
				<li><a href="#about_section">About</a></li>
				<li><a href="#team_section">Initiator</a></li>
				<li><a href="#services_section">Details</a></li>
				<li><a href="#contactus_section">Contact</a></li>
				<li><a href="#feedBACK">Feedback</a></li>
			</ul>
		</div>
	</header>
<!-- Sliding Information -->
	<marquee style="background: linear-gradient(to right, #777265, #F9C248); margin-top: 50px;" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="09"><div class="marqu"> The course is of 2.5 Months Duration and has a maximum seating capacity of 60 only. Course lectures will be held on Saturdays from 3:00 PM to 5:00 PM in the Seminar Hall, CSIT BLOCK.</div></marquee>


	<div class="extra">
		<p>Course Details are as follows</p>
		<div class="smbox">
		<span><center><div class="data">60</div><div class="det">Total Seats</div></center></span>
		<span><center><div class="data">11</div><div class="det">Total Lectures</div></center></span>
		<span><center><div class="data">₹700</div><div class="det">Course Fee</div></center></span>
		<span><center><div class="data">Unlimited</div><div class="det">Course Outcome</div></center></span>
		</div>
	</div>


<!-- TEAM -->
	<div class="diffSection" id="team_section">
		<center><p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">Course Initiator</p></center>
		<div class="totalcard">
			<div class="card">
				<center><img src="https://home.iitk.ac.in/~lbehera/img/personal.jpg' %}"></center>
				<center><div class="card-title">Dr.Laxmidhar Behera</div>
				<div id="detail">
					<p>Prof Laxmidhar Behera joined as the Director of IIT Mandi on 19th January, 2022. Prior to this, he was working as the Poonam and Prabhu Goel Chair Professor in the Department of Electrical Engineering, IIT Kanpur, and simultaneously served as TCS affiliate faculty. After completing BSc (Engg) and MSc (Engg) from NIT Rourkela in 1988 and 1990 respectively, he received the PhD degree from IIT Delhi in 1997.
						<br> <br>
						During past 26 years of research and teaching career, Prof Laxmidhar Behera has contributed significantly to areas such as Intelligent Systems and Control,Vision based Robotics, Warehouse automation, Brain-Computer-Interface and Drone based pipeline inspection system. He has established industrial collaboration with TCS, Renault Nissan, and ADNOC, Abu Dhabi, BEL Bangalore while making significant technological development in the areas such robotics-based ware-house automation, vision and drone guided driver assistance system, and drone guided pipeline inspection systems.
						<br> <br>
						Prof. Behera has worked as Reader at University of Ulster, UK during 2007-2009 and has taken up visiting professor assignments at ETH Zurich,and FHG, Germany. Prof. Behera has supervised 22 PhD students to completion. He has published three graduate level textbooks, 110 peer reviewed journal papers, 208 papers in conference proceedings and 17 book chapters.</p>
					<div class="duty"></div>
					<a href="https://www.linkedin.com/in/laxmidhar-behera-a74a5b174/" target="_blank"><button class="btn-roshan">Follow +</button></a>
				</div>
				</center>
				</center>
			</div>
		</div>
	</div>


<!-- SERVICES -->
	<div class="service-swipe">
		<div class="diffSection" id="services_section">
		<center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px; color: #fff;">Details</p></center>
		</div>
		<a href="#"><div class="s-card"><img src="{% static 'images/icon/computer-courses.png' %}"><p>Five Aspects of Absolute Truth Course Guide</p></div></a>
		<a href="#"><div class="s-card"><img src="{% static 'images/icon/brainbooster.png' %}"><p>Learning through an Authentic Source</p></div></a>
		<a href="#"><div class="s-card"><img src="{% static 'images/icon/online-tutorials.png' %}"><p>Online Video Lectures</p></div></a>
		<a href="#"><div class="s-card"><img src="{% static 'images/icon/papers.jpg' %}"><p>Bi-Weekly Tests & Quizzes</p></div></a>
		<a href="#"><div class="s-card"><img src="{% static 'images/icon/p3.png' %}"><p>Certificate On completion</p></div></a>
		<a href="#"><div class="s-card"><img src="{% static 'images/icon/discussion.png' %}"><p>Discussion with Course Instructor</p></div></a>
		
	</div>

<!-- Reviews by Students -->
<div class="diffSection" id="team_section">
	<center><p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">Course Lecturars</p></center>
	<div class="totalcard">
		<div class="card">
			<center><img src="{% static 'images/creator/SunilReddy.png' %}"></center>
			<center><div class="card-title">Sunil Kumar Reddy</div>
			<div id="detail">
				<p>Sunil Kumar Reddy Sagili AKA Sarvatma Shyam Das did his B.Tech in electrical  engineering department from NIT Raipur. Later he got his M.Tech degree in Control Systems from IIT Kanpur. He worked as Research Assistant in Petroleum Institute PI, Abu Dhabi-UAE for two years. During his stay in IIT Kanpur, his interest in Bhagavad Gita is sparked after he met his teacher there. He came back from UAE to assist his teacher in developing courses on Bhagavad Gita and spread the universal  teachings of Bhagavad Gita to one and all. One such course is Learn Gita Live Gita. Easiest and best way to be free from anxiety and lead a peaceful life especially for students is to add Bhagavad Gita to their life says Sarvatma Shyam Das. He is currently serving in ISKCON Bhagavad Gita Pathshala Dehradun.</p>
				
			</center>

		 </div>
		<div class="card">
			<center><img src="{% static 'images/creator/AjayGudla.png' %}"></center>
			<center><div class="card-title">Ajay Kumar Gudla</div>
			<div id="detail">
				<p>Ajay Kumar Gudla AKA Gadadhar Gauranga das did his B.Tech in electrical engineering from ANITS Visakhapatnam and M.Tech in Power & Control from IIT Kanpur. He worked as PGT Chemistry in BGIS Vrindavan and gave IIT coaching to students. During that period, he got a chance to closely observe the students, especially the problems like depression, laziness, anxiety, lack of enthusiasm and other emotional issues. And he could see how BhagavadGita can solve these problems, from his own experience during his student period. With the guidance of a Professor Dr. Laxmidhar Behera, he started learning Bhagavadgita in IIT Kanpur and now he wants to help the people, especially youth in overcoming the problems of life with the help of this great literature.</p>
			</div>
			</center>
		</div>
	</div>
</div>









<!-- CONTACT US -->
	<div class="diffSection" id="contactus_section">
		<center><p style="font-size: 50px; padding: 100px">Contact Us</p></center>
		<div class="csec"></div>
		<div class="back-contact">
			<div class="cc">
			<form action="mailto:learngitageu@gmail.com" method="post" enctype="text/plain">
				<label>First Name <span class="imp">*</span></label><label style="margin-left: 185px">Last Name <span class="imp">*</span></label><br>
				<center>
				<input type="text" name="" style="margin-right: 10px; width: 175px" required="required"><input type="text" name="lname" style="width: 175px" required="required"><br>
				</center>
				<label>Email <span class="imp">*</span></label><br>
				<input type="email" name="mail" style="width: 100%" required="required"><br>
				<label>Message <span class="imp">*</span></label><br>
				<input type="text" name="message" style="width: 100%" required="required"><br>
				<label>Additional Details</label><br>
				<textarea name="addtional"></textarea><br>
				<button type="submit" id="csubmit">Send Message</button>
			</form>
			</div>
		</div>
	</div>


<!-- FEEDBACK
	<div class="title2" id="feedBACK">
		<span>Give Feedback</span>
		<div class="shortdesc2">
			<p>Please share your valuable feedback to us</p>
		</div>
	</div>

	<div class="feedbox">
		<div class="feed">
			<form action="mailto:amanchopramotivation@gmail.com" method="post" enctype="text/plain">
				<label>Your Name</label><br>
				<input type="text" name="" class="fname" required="required"><br>
				<label>Email</label><br>
				<input type="email" name="mail" required="required"><br>
				<label>Additional Details</label><br>
				<textarea name="addtional"></textarea><br>
				<button type="submit" id="csubmit">Send Message</button>
			</form>
		</div>
	</div> -->



<!-- FOOTER -->
	<footer>
		<div class="footer-container">
			<div class="left-col">
				<img src="{% static 'images/icon/logo - Copy.png' %}" style="width: 200px;">
				<div class="logo"></div>
				<div class="social-media">
					<a href="#"><img src="{% static 'images/icon\fb.png' %}"></a>
					<a href="#"><img src="{% static 'images/icon\insta.png' %}"></a>
					<a href="#"><img src="{% static 'images/icon\tt.png' %}"></a>
					<a href="#"><img src="{% static 'images/icon\ytube.png' %}"></a>
					<a href="#"><img src="{% static 'images/icon\linkedin.png' %}"></a>
				</div><br><br>
				<p class="rights-text">Copyright © 2022 Created By Aman Chopra All Rights Reserved.</p>
				<br><p><img src="{% static 'images/icon/location.png' %}"> Graphic Era University<br>Dehradun, Uttrakhand-248002</p><br>
				<p><img src="{% static 'images/icon/phone.png' %}"> +91 70609-98201<br><img src="{% static 'images/icon/mail.png' %}">&nbsp; learngitageu@gmail.com</p>
			</div>
			<div class="right-col">
				<h1 style="color: #fff">Our Newsletter</h1>
				<div class="border"></div><br>
				<p>Enter Your Email to get our News and updates.</p>
				<form class="newsletter-form">
					<input class="txtb" type="email" placeholder="Enter Your Email">
					<input class="btn" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="{% static 'main.js' %}"></script>
  <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>
  

</body>
</html>